.modal-content {
    border: 1px solid #8a4fba;
    background-color: #2f2b38;
    color: white;
    font-size: 18px;
}

.modal-dialog {
    max-width: fit-content;
}

.btn-close {
    background-color: #8a4fba;
    color: white;
}

#details-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #8a4fba;
    box-shadow: 0 4px 12px rgba(138, 79, 186, 0.4);
    transition: transform 0.3s ease;
}