.bg-body-tertiary {
    background-color: #243847 !important;
}

.navbar-nav a {
    color: white !important;
}

#navbar-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}